<!DOCTYPE html>
<html>
  <head>
    {{HEAD}}
  </head>
  <body>
    <div class="site-wrapper container about-container">
{{NAV}}

<!-- content -->
<div class="row">
  <div class="about-content col-md-6">
    <h2>About</h2>
    <p>Techies is a photo project focused on sharing stories of tech employees in Silicon Valley.</p>
<p>The project covers subjects who tend to be underrepresented in the greater tech narrative. This includes (but is not limited to) women, people of color, folks over 50, LGBT, working parents, disabled, etc.</p>
<p>The project has two main goals: to show the outside world a more comprehensive picture of people who work in tech, and to bring a bit of attention to folks in the industry whose stories have never been heard, considered or celebrated. We believe storytelling is a powerful tool for social impact and positive change.</p>
<p>Since its launch, the Techies Project has been profiled on <a href="https://abcnews.go.com/Technology/photos/portraits-underrepresented-people-tech-industry-38196993/image-jeany-ngo-ux-designer-airbnb-38200319">ABC</a>, <a href="https://money.cnn.com/2016/04/04/technology/techies-helena-price/">CNN</a>, <a href="https://www.newsweek.com/techies-project-helena-price-finds-voice-tech-thats-seldom-heard-463218">Newsweek</a>, <a href="https://fortune.com/2016/04/05/tech-photography-project-diversity/">Fortune</a>, <a href="https://www.fastcompany.com/3058519/100-portraits-that-tell-the-stories-of-people-underrepresented-in-tech">Fast Company</a>, <a href="https://www.theguardian.com/technology/2016/apr/04/techies-photography-project-silicon-valley-diversity-helena-price">The Guardian</a>, <a href="https://www.elleuk.com/now-trending/this-is-what-a-techie-looks-like">Elle</a> and more.</p>
<p><a href="https://medium.com/@helena/techies-the-process-faq-4184ec546369#.c1zj0fbgp">Read the process and FAQ here</a>.</p>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <div class="image-slider">
      <ul class="slides">
                        <li>
          <img class="portrait" src="/d1lhy388c2xgxf/thumbnails/evelyn-rusli-thumb-280x390.jpg">
        </li>
                <li>
          <img class="portrait" src="/d1lhy388c2xgxf/thumbnails/emily-eifler-thumb-560x780.jpg">
        </li>
                <li>
          <img class="portrait" src="/d1lhy388c2xgxf/thumbnails/Kanyi-Maqubela-thumb-280x390.jpg">
        </li>
              </ul>

      <ul class="pager">
        <li><a href="#"><span></span></a></li>
        <li><a href="#"><span></span></a></li>
        <li><a href="#"><span></span></a></li>
      </ul>
  </div>
</div>
</div>

<span class="row border"></span>

<img class="techies-about" src="/assets/images/techies-about.png">

<span class="border"></span>

<div class="team row">
  <div class="col-md-12">
    <h2>Team</h2>
  </div>
  <div class="about-content col-md-6">
    <p>Techies was conceived in January 2016 by San Francisco-based photographer Helena Price. <br />
<br />
It was brought to life over the course of three months with the help of designer Alonzo Felix and developer Martha Schumann.<br />
<br />
Special thanks to Brian Lam, Michelle Morrison, Bianca L. St.Louis, Stewart Scott Curran, Liz Gershman, Anne Barrington, Kate Stern, Laura Brunow Miner, Maggie Bignell, Matt Buchanan, Sylvia Killingsworth, Josh Puckett, and Fiona Tang, and thank you to all of our contributors for being so generous with their stories and time over the course of the project.</p>
  </div>
  <div class="about-gallery col-md-6">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Helena Price</h3>
        <h4>Photographer</h4>
        <a href="https://twitter.com/helena" class="social twitter"></a>
        <a href="https://www.instagram.com/helenadagmar/" class="social instagram"></a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Martha Schumann</h3>
        <h4>Developer</h4>
        <a href="https://twitter.com/marthakelly" class="social twitter"></a>
        <a href="https://instagram.com/marthakelly" class="social instagram"></a>
      </div>
      <div class="col-xs-12">
        <h3>Alonzo Felix</h3>
        <h4>Designer</h4>
        <a href="https://twitter.com/alonzofelix" class="social twitter"></a>
        <a href="https://www.instagram.com/alonzofelix/" class="social instagram"></a>
      </div>
    </div>
  </div>
</div>
<div class="partners row">
  <div class="col-md-12">
    <h2>Partners</h2>
  </div>
  <div class="about-content col-md-6">
    <p>Costs of this project were partially covered by sponsorships from Ueno, Medium and Facebook.  We&#039;re thrilled to see companies in Silicon Valley who are willing to support the arts and stand behind work with a pro-diversity narrative. <br />
<br />
Thanks to TranscribeMe! for covering part of transcription costs for the first 100 interviews.</p>
  </div>
  <div class="about-gallery sponsors col-md-6">
    <div class="row">
      <div class="col-sm-6 partner medium">
        <a href="//www.medium.com"><img src="/assets/images/medium-sponsor-large.png"></a>
      </div>
      <div class="col-sm-6 partner ueno">
        <a href="//www.ueno.co"><img src="/assets/images/ueno-sponsor-large.png"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 partner facebook">
        <a href="//www.facebook.com"><img src="/assets/images/facebook-new-logo-large.png"></a>
      </div>
    </div>
  </div>
</div>
<div class="contact row">
  <div class="col-md-12">
    <h2>Contact</h2>
  </div>
  <div class="about-content col-md-6">
    <p>Read the FAQ and still have questions?</p>
  </div>
  <div class="large-links about-gallery col-md-6">
    <a class="large-link" href="mailto:hi+techies@helenaprice.com">hi+techies@helenaprice.com</a>
    <h4>General &amp; Press Inquiries</h4>
  </div>
</div>
<div class="row">
  <div class="border"></div>
</div>
<div class="row about-social">
  <a href="https://twitter.com/techiesproject" class="social twitter"></a>
  <a href="https://www.instagram.com/techiesproject/" class="social instagram"></a>
  <a href="https://www.facebook.com/techiesproject" class="social facebook"></a>
  <a href="https://www.pinterest.com/techiesproject/" class="social pinterest"></a>
  <a href="https://medium.com/@helena/tech-portrait-project-call-for-subjects-b33d15ed9286" class="social medium"></a>
</div>

{{FOOTER}}
    </div>
{{SCRIPTS}}
  </body>
</html>