<!DOCTYPE html>
<html>
  <head>
    {{HEAD}}
  </head>
  <body>
    <div class="site-wrapper container -container">
{{NAV}}

<div class="row">
  <div class="featured-image col-md-12">
    <img src="/d1lhy388c2xgxf/portraits/{{HERO_IMAGE}}">
  </div>
</div>
<div class="row">
  <div class="techie-name col-md-12">
    {{NAME}}  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="techie-name-border"></div>
  </div>
</div>
<div class="row post-content-header">
  <div class="col-md-6">
    <ul class="meta">
      <li class="icon years">
         <p class="header">Years in Tech</p>
         <p class="text">{{YEARS_IN_TECH}}</p>
      </li>
      <li class="icon role">
        <p class="col-xs-12 col-md-4 header">Current Role</p>
                <p class="col-xs-12 col-md-8 text">{{ROLE}}</p>
      </li>
      <li class="icon location">
        <p class="header">Place of Origin</p>
        <p class="text">{{LOCATION}}</p>
      </li>
      <li class="icon date">
        <p class="header">Interview Date</p>
        <p class="text">{{INTERVIEW_DATE}}</p>
      </li>
    </ul>
  </div>
  <div class="col-md-6 abstract">
    {{ABSTRACT}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-3 links">
    <div class="personal-links">
      <h3>Personal Links</h3>
      <ul>
        {{PERSONAL_LINKS}}
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 post">
    {{INTERVIEW_CONTENT}}
  </div>
  <div class="col-xs-12 col-md-3 photo">
    <img src="/d1lhy388c2xgxf/thumbnails/{{THUMBNAIL}}" width="280px" height="390px">
  </div>
</div>

{{FOOTER}}
    </div>
{{SCRIPTS}}
  </body>
</html>