<!DOCTYPE html>
<html>
  <head>
    {{HEAD}}
  </head>
  <body>
    <div class="site-wrapper container submit-container">
{{NAV}}

<!-- content -->
<div class="row">
  <div class="submit-column about-content col-md-6">
    <h2>Submit</h2>
    <p>Interested in being included in this project? We'd love to hear your story.</p>
<p>NOTE: As of 7/22, applications are now closed.</p>
  </div>
  <div class="about-gallery col-md-6">


<div>




<div class="ss-form-container">



  <div class="ss-header-image-container">
    <div class="ss-header-image-image">
      <div class="ss-header-image-sizer"></div>
    </div>
  </div>
  <div class="ss-top-of-page">
    <div class="ss-form-heading">


      <div class="ss-required-asterisk">* Required</div>
    </div>
  </div>
  <div class="ss-form">
    <form method="POST" id="ss-form" netlify>
      <ol>

        <div class="ss-form-question errorbox-good">
          <div class="ss-item ss-item-required ss-text">
            <div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_919774814"><div class="ss-q-title">Name
<label for="itemView.getDomIdToLabel()"></label>
              <span class="ss-required-asterisk">*</span></div>
            <div class="ss-q-help ss-secondary-text"></div>
            </label>

            <input type="text" name="entry_919774814" value="" class="ss-q-short" id="entry_919774814">
            <div class="error-message"></div>
            <div class="required-message">This is a required question</div>
          </div>
        </div>
  </div>
  <div class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-text">
      <div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_793850748"><div class="ss-q-title">Email
<label for="itemView.getDomIdToLabel()"></label>
        <span class="ss-required-asterisk">*</span></div>
      <div class="ss-q-help ss-secondary-text"></div>
      </label>

      <input type="text" name="entry_793850748" value="" class="ss-q-short" id="entry_793850748">
      <div class="error-message"></div>
      <div class="required-message">This is a required question</div>
    </div>
  </div>
</div>
<div class="ss-form-question errorbox-good">
  <div class="ss-item ss-item-required ss-text">
    <div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_118765849"><div class="ss-q-title">Title and Company
<label for="itemView.getDomIdToLabel()"></label>
      <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text"></div>
    </label>

    <input type="text" name="entry_118765849" value="" class="ss-q-short" id="entry_118765849">
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div>
</div>
</div>
<div class="ss-form-question errorbox-good">
  <div class="ss-item ss-item-required ss-text">
    <div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_2130533806"><div class="ss-q-title">Website/Social
<label for="itemView.getDomIdToLabel()"></label>
      <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text"></div>
    </label>

    <input type="text" name="entry_2130533806" value="" class="ss-q-short" id="entry_2130533806">
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div>
</div>
</div>
<div class="ss-form-question errorbox-good">
  <div class="ss-item ss-item-required ss-text">
    <div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_1729019375"><div class="ss-q-title">Years in Tech
<label for="itemView.getDomIdToLabel()"></label>
      <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text"></div>
    </label>

    <input type="text" name="entry_1729019375" value="" class="ss-q-short" id="entry_1729019375">
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div>
</div>
</div>
<div class="ss-form-question errorbox-good">
  <div class="ss-item ss-item-required ss-paragraph-text">
    <div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_1655694990"><div class="ss-q-title">Short Bio
<label for="itemView.getDomIdToLabel()"></label>
      <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text"></div>
    </label>

    <textarea name="entry_1655694990" rows="8" cols="0" class="ss-q-long" id="entry_1655694990"></textarea>
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div>
</div>
</div>
<div class="ss-form-question errorbox-good">
  <div class="ss-item ss-item-required ss-paragraph-text">
    <div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_429942168"><div class="ss-q-title">Proudest Career Accomplishments
<label for="itemView.getDomIdToLabel()"></label>
      <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text"></div>
    </label>

    <textarea name="entry_429942168" rows="8" cols="0" class="ss-q-long" id="entry_429942168"></textarea>
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div>
</div>
</div>
<div class="ss-form-question errorbox-good">
  <div class="ss-item ss-item-required ss-paragraph-text">
    <div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_2083100275"><div class="ss-q-title">Biggest Career Struggles
<label for="itemView.getDomIdToLabel()"></label>
      <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text"></div>
    </label>

    <textarea name="entry_2083100275" rows="8" cols="0" class="ss-q-long" id="entry_2083100275"></textarea>
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div>
</div>
</div>
<div class="ss-form-question errorbox-good">
  <div class="ss-item ss-item-required ss-paragraph-text">
    <div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_986687847"><div class="ss-q-title">Anything Else You'd Like To Share
<label for="itemView.getDomIdToLabel()"></label>
      <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text"></div>
    </label>

    <textarea name="entry_986687847" rows="8" cols="0" class="ss-q-long" id="entry_986687847"></textarea>
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div>
</div>
</div>
<div class="ss-send-email-receipt"><label for="emailReceipt"></label></div>
<div class="ss-item ss-navigate">
  <table>
    <tbody>
      <tr>
        <td class="ss-form-entry goog-inline-block">
          <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
      </tr>
    </tbody>
  </table>
</div>
</ol>
</form>
</div>
<br>

<div class="docs-a11y-ariascreenreader-speakable docs-offscreen"></div>
</div>


</div>
</div>
</div>

{{FOOTER}}
    </div>

<script type="text/javascript">
//  Google Forms v0.84 jQuery script
jQuery(document).ready(function($) {

    //  Manipulate CSS classes to account for CSS prefix
    $("div.ss-form-container [class]").each(function(i, el) {
        var c = $(this).attr("class").split(" ");
        for (var i = 0; i < c.length; ++i) {
            $(this).removeClass(c[i]).addClass("techies-" + c[i]);
        }
    });
    $("div.ss-form-container").removeClass("ss-form-container").addClass("techies-" + "ss-form-container");


    //  Columnize the form
    //  Make sure we don't split labels and input fields
    $("div.techies-ss-item").addClass("wpgform-dontsplit");
    //  Wrap all of the form content in a DIV so it can be split
    $("#ss-form").wrapInner("<div style=\"border: 0px dashed blue;\" class=\"wpgform-wrapper\"></div>");
    //  Columnize the form content taking into account the new minwidth setting.
    $(function(){
        var width = $(window).width();
        var minwidth = 0;
        if (minwidth == 0 || width > minwidth) {
        $(".wpgform-wrapper").columnize({
            columns : 1,
            columnFloat : "left",
            cssClassPrefix : "wpgform"
        });
        //  Wrap each column so it can styled easier
        $(".wpgform-column").wrapInner("<div style=\"border: 0px dashed green;\" class=\"wpgform-column-wrapper\"></div>");
        }
    });
    $("#ss-form").append("<div style=\"border: 0px dashed black; clear: both;\"></div>");
    $("div.techies-ss-form-container").after("<div style=\"border: 0px dashed black; clear: both;\"></div>");


});
</script>
{{SCRIPTS}}
<script type='text/javascript' src='//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js'></script>
<script type='text/javascript' src='/assets/js/jquery.columnizer.js'></script>
  </body>
</html>