<title>Techies</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel='stylesheet' href='/assets/css/techies.css' type='text/css' media='all' />
<script type='text/javascript' src='/assets/js/jquery.js'></script>
<script type='text/javascript' src='/assets/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/assets/js/techies.js'></script>
<link rel="shortcut icon" href="/favicon.ico" />
<meta property="og:description" content="Techies is a portrait project focused on sharing stories of tech employees in Silicon Valley.

    We cover subjects who tend to be underrepresented in the greater tech narrative. This includes (but is not limited to) women, people of color, folks over 50, LGBT, working parents, disabled, etc.

    The project has two main goals: to show the outside world a more comprehensive picture of people who work in tech, and to bring a bit of attention to folks in the industry whose stories have never been heard, considered or celebrated. We believe storytelling is a powerful tool for social impact and positive change." />
{{HEAD_EXTRA}}